In [1]:
import pandas as pd
import numpy as np

## Movie content based Recommendation System

In [2]:
df=pd.read_csv("C:/Users/admin/Downloads/Movie-Recommender-in-python-master/Movie-Recommender-in-python-master/u.data",sep="\t")

In [5]:
df.head()

   user_id  item_id  rating  timestamp
0        0      172       5  881250949
1        0      133       1  881250949
2      196      242       3  881250949
3      186      302       3  891717742
4       22      377       1  878887116

In [4]:
df.columns=['user_id','item_id','rating','timestamp']

In [6]:
movie_titles=pd.read_csv("C:/Users/admin/Downloads/Movie-Recommender-in-python-master/Movie-Recommender-in-python-master/Movie_Id_Titles")

In [8]:
movie_titles.shape

(1682, 2)

In [10]:
df.item_id.nunique()

1682

In [11]:
data=pd.merge(df,movie_titles,on='item_id')

In [ ]:
 data.head()

## Sorting the dataset and group by on title field

In [16]:
data.groupby('title')['rating'].mean().sort_values(ascending=False).head()

title
Marlene Dietrich: Shadow and Light (1996)     5.0
Prefontaine (1997)                            5.0
Santa with Muscles (1996)                     5.0
Star Kid (1997)                               5.0
Someone Else's America (1995)                 5.0
Name: rating, dtype: float64

In [33]:
rating=pd.DataFrame(data.groupby('title')['rating'].mean())

In [36]:
rating.head()

                             rating  number_of_review
title
'Til There Was You (1997)  2.333333                 9
1-900 (1994)               2.600000                 5
101 Dalmatians (1996)      2.908257               109
12 Angry Men (1957)        4.344000               125
187 (1997)                 3.024390                41

## Filter dataset on rating count and group by title

In [35]:
rating['number_of_review']=pd.DataFrame(data.groupby('title')['rating'].count())

## Create Pivot table to show which user gave what rating to which movie

In [39]:
movie=data.pivot_table(index='user_id',columns='title',values='rating')

In [40]:
movie.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
star=movie['Star Wars (1977)']

In [42]:
star.head(10)

user_id
0    NaN
1    5.0
2    5.0
3    NaN
4    5.0
5    4.0
6    4.0
7    5.0
8    5.0
9    5.0
Name: Star Wars (1977), dtype: float64

## Calculating Corelation with Other Movie

In [43]:
similar=movie.corrwith(star)

C:\Users\admin\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:2522: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\admin\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:2451: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [44]:
similar

title
'Til There Was You (1997)                                   0.872872
1-900 (1994)                                               -0.645497
101 Dalmatians (1996)                                       0.211132
12 Angry Men (1957)                                         0.184289
187 (1997)                                                  0.027398
2 Days in the Valley (1996)                                 0.066654
20,000 Leagues Under the Sea (1954)                         0.289768
2001: A Space Odyssey (1968)                                0.230884
3 Ninjas: High Noon At Mega Mountain (1998)                      NaN
39 Steps, The (1935)                                        0.106453
8 1/2 (1963)                                               -0.142977
8 Heads in a Duffel Bag (1997)                             -0.577350
8 Seconds (1994)                                           -0.755929
A Chef in Love (1996)                                       0.868599
Above the Rim (1994)                                       -0.645497
Absolute Power (1997)                                       0.085440
Abyss, The (1989)                                           0.203709
Ace Ventura: Pet Detective (1994)                           0.062689
Ace Ventura: When Nature Calls (1995)                       0.094514
Across the Sea of Time (1995)                              -0.132453
Addams Family Values (1993)                                 0.132264
Addicted to Love (1997)                                     0.028173
Addiction, The (1995)                                       0.507093
Adventures of Pinocchio, The (1996)                         0.111616
Adventures of Priscilla, Queen of the Desert, The (1994)    0.054740
Adventures of Robin Hood, The (1938)                        0.144587
Affair to Remember, An (1957)                               0.225451
African Queen, The (1951)                                   0.230540
Afterglow (1997)                                            0.420084
Age of Innocence, The (1993)                               -0.037176
                                                              ...
Window to Paris (1994)                                           NaN
Wings of Courage (1995)                                          NaN
Wings of Desire (1987)                                     -0.104771
Wings of the Dove, The (1997)                               0.000000
Winnie the Pooh and the Blustery Day (1968)                 0.142924
Winter Guest, The (1997)                                    0.353553
Wishmaster (1997)                                          -0.066932
With Honors (1994)                                         -0.111205
Withnail and I (1987)                                       0.083045
Witness (1985)                                                   NaN
Wizard of Oz, The (1939)                                    0.266335
Wolf (1994)                                                 0.113214
Woman in Question, The (1950)                                    NaN
Women, The (1939)                                          -0.175608
Wonderful, Horrible Life of Leni Riefenstahl, The (1993)    0.707107
Wonderland (1997)                                                NaN
Wooden Man's Bride, The (Wu Kui) (1994)                          NaN
World of Apu, The (Apur Sansar) (1959)                     -0.522233
Wrong Trousers, The (1993)                                  0.216204
Wyatt Earp (1994)                                           0.059560
Yankee Zulu (1994)                                               NaN
Year of the Horse (1997)                                   -1.000000
You So Crazy (1994)                                              NaN
Young Frankenstein (1974)                                   0.192589
Young Guns (1988)                                           0.186377
Young Guns II (1990)                                        0.228615
Young Poisoner's Handbook, The (1995)                      -0.007374
Zeus and Roxanne (1997)                                     0.818182
unknown                                                     0.723123
Á köldum klaka (Cold Fever) (1994)                               NaN
Length: 1664, dtype: float64